# Bibliography of the project
bibliography/

# Datasets
data/

# Jupyter notebooks
notebooks/

# PyCharm directory
.idea/
# Latex ignore
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
